body {
  background-color: #f0f0f0;
}

.title-banner {
  display: flex;
  justify-content: center;
}

.button-container {
  justify-content: center;
  align-items: center;
  height: 75vh;
}

button {
  height: 60px;
  width: 200px;
  background-color: #d9d9d9;
}

.card-search-button,
.deck-builder-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

select {
  background-color: #d9d9d9;
}
