.title-banner {
  display: flex;
  justify-content: center;
  background-color: #002447;
  color: white;
}

.nav-bar {
  background-color: #2b4d70;
}

.button-container {
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #f1f4f6;
}

button {
  height: 60px;
  width: 200px;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  border-radius: 10%;
}

.card-search-button,
.deck-builder-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

select {
  background-color: #d9d9d9;
}

.column-one-fifth {
  padding: 5px;
  position: relative;
}

.add-icon {
  position: absolute;
  bottom: 12%;
  left: 50%;
  z-index: 2;
}

.card-search-row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f4f6;
  margin-top: 8px;
}

#sets {
  width: 75px;
  margin-left: 5px;
  margin-right: 5px;
}

#colors {
  width: 75px;
}

.deck-view-row {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  background-color: #f1f4f6;
  min-height: 100vh;
}
